body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

section {
  display: flex;
  margin-bottom: 150px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

.half-width img {
  width: 80%;
  border-radius: 50%;
  size: 500px;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
}

.top-banner {
  background-image: url(../assets/images/backgroun-img.avif);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(../assets/images/backgroun-img.avif);
  background-repeat: no-repeat;
  background-position: right;
}
