body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

.orange-color {
  color: orange;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

.half-width img {
  width: 80%;
  border-radius: 50%;
  size: 500px;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
}

.top-banner {
  background-image: url(../assets/images/backgroun-img.avif);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(../assets/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience-area {
  background-image: url(../assets/images/header_bg.png);
  background-repeat: no-repeat;
  /* background-position: right; */
}

.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  box-shadow: 10px 10px 40pc gray;
  border-radius: 10px;
  border-left: 5px solid blue;
}

#fullstack-developer {
  border-left: 7px solid tomato;
}

#frontend-developer {
  border-left: 7px solid blue;
}

footer p {
  text-align: center;
}
